# Master Data Science Data_VIZ

### Exercice 1:

Voir WADE_Travail_personnel.pdf

### Exercice 2:

## Data: Prénoms des enfants nés à Angers

## Définition des en-têtes:
COLL_NOM: nom de la commune
COLL_INSEE: Code Insee de la commune
ENFANT_SEXE: sexe
ENFANT_PRENOM: prénom
NOMBRE_OCCURENCES: occurrence du prénom
ANNEE: année de naissance

In [1]:
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

path = "/home/malick/Bureau/Master_DS/Data_viz/data/prenoms-des-enfants-nes-a-angers.csv"
df = pd.read_csv(path,  sep=';')

In [2]:
df.head()

  COLL_NOM  COLL_INSEE ENFANT_SEXE ENFANT_PRENOM  NOMBRE_OCCURENCES  ﻿ANNEE
0   ANGERS       49007           F          Mila                 18    2017
1   ANGERS       49007           F      Apolline                 11    2017
2   ANGERS       49007           F          Cléa                  4    2017
3   ANGERS       49007           F        Maëlle                  4    2017
4   ANGERS       49007           F     Charlotte                 20    2018

In [7]:
df.dtypes

COLL_NOM             object
COLL_INSEE            int64
ENFANT_SEXE          object
ENFANT_PRENOM        object
NOMBRE_OCCURENCES     int64
﻿ANNEE                int64
dtype: object

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns

ax = sns.lineplot(y="NOMBRE_OCCURENCES", x="ANNEE",hue="ENFANT_SEXE", sizes=(.25, 2.5), data=df)

ValueError: Could not interpret input 'ANNEE'

### 4.

### 5.